<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/bulma.min.css" type="text/css">
    <link rel="stylesheet" href="/table.css" type="text/css">
</head>

<body>
    <header class="navbar" aria-label="main navigation">
        <div class="navbar-brand is-size-1">
            <a>MBTI all percentages</a>
        </div>
    </header>
    <div class="columns is-centered">
        <div class="column is-half ">
            <table class=" table is-striped is-fullwidth is-narrow is-size-4 is-bordered">
                <tr>
                    <th>Trait</th>
                    <th>Name</th>
                    <th>Percent</th>
                </tr>
                <% for  @tr in @traits%>
                <tr>
                    <td><a href="<%= @tr.link %>"> <%= @tr.initials.upcase %></td>
                    <td> <%= @tr.role_name %></td>
                    <td> <%= @tr.display_percent %> </td>
                </tr>
                <% end %>
            </table>
        </div>
    </div>
</body>
